* {
    background-color: lightgray;
    background-color: inherit;
}

body {
    background-color: lightgray;
}

.PageTitle {
    color: #4aaaa5;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: cyan;
    z-index: 1;
}

.MyName {
    padding: 20px 100px;
    margin: 0px;
    font-size: 200%;
    float: left;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.main {
    margin: 5% 5%;
    padding: 5%;
    background-color: white;
}

#Me {
    margin: 25px;
    float: left;
}

.header-links {
    float: right;
    padding: 20px 100px;
}

.message {
    width: 80%;
}

@media only screen and (max-width: 2000px) {
    .main {
        margin-right: 30%;
    }
}

@media only screen and (max-width: 980px) {
    .main {
        margin-right: 20%;
    }
}

@media only screen and (max-width: 768px) {
    .main {
        margin-right: 5%;
    }
    header {
        position: static;
        margin: 0px;
    }
    .MyName {
        padding: 15px 40%;
        width: 20%
        overflow: hidden;
        white-space: nowrap;
    }
    #Me {
        width: 90%;
        height: auto;
    }
    .header-links {
        float: none;
        text-align: center;
        padding-top: 10%;
    }
}