* {
    background-color: lightgray;
    background-color: inherit;
}

body {
    background-color: lightgray;
}

.PageTitle {
    color: #4aaaa5;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: cyan;
    z-index: 1;
}

.MyName {
    padding: 20px 100px;
    margin: 0px;
    font-size: 200%;
    float: left;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.main {
    margin: 100px 25px;
    padding: 25px;
    background-color: white;
}

#Me {
    margin: 25px;
    float: left;
}

.header-links {
    float: right;
    padding: 20px 100px;
}

.message {
    width: 80%;
}